<h1>Ajouter une nouvelle dose</h1>
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% if @cocktail.errors.any? %>
    <div class="errors-container">
      <ul>
        <% @cocktail.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.input :description %>
  <%= f.association :ingredient, collection: Ingredient.all , prompt: "Choose an ingredient" %>
  <br><br>
  <%= f.submit 'Submit a dose', class: "btn btn-primary" %>
  <%= link_to 'Cancel', cocktail_path(@cocktail), class: "btn btn-warning" %>
<% end %>

